body {
    background-image: url('../map_images/chalkboard.jpg');
    overflow: hidden;
    margin-left: -50px;
}

.fb-share-button {
	position: absolute;
	top: 50px;
	right: 40px;
	z-index: 10;
}

.twitter-share-button {
	position: absolute;
	top: 32px;
	right: 5px;
	z-index: 10;
}

.worldmap {
	text-align: center;
}

.title

h1 {
	position: absolute;
	left:19%;
	font-family: 'Brandon Grotesque', Helvetice Neue, sans-serif;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: .2em;
	z-index: 2;

}

/* Popup Modal */

#tt_sm {
	max-width: 400px;
}


/* Popup Country Title */

#tt_name_sm {
	font-family: 'Brandon Grotesque', Helvetice Neue, sans-serif;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 16px;
}


/* Popup Body Text */

#tt_custom_sm {
	font-family: Georgia, serif;
	line-height: 1.5em;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,.4);
	width: 100%;
	height: 80px;
}

footer button {
	background: #0088ff;
	color: #fff;
	float: left;
	cursor: pointer;
	margin-top: 20px;
	margin-left: 20px;
	border: 0;
	border-radius: 4px;
	padding: 0px 30px;
	height: 40px;
	font-family: 'Brandon Grotesque', Helvetice Neue, sans-serif;
	font-weight: 700;
	letter-spacing: .2em;
	text-transform: uppercase;
}

.donate {
	background: #f9be1c;
	color: #222;
}

.donate:hover {
	background: #ffd76b;
}

.learnmore:hover {
	background: #48aaff;
}


footer img {
	float: right;
	margin-top: 5px;
	margin-right: 20px;
	cursor: pointer;
}

.map-key {
	float: left;
	margin-left: 18%;
	margin-top: 14px;
}

.homegrown {
	float: left;
	margin-top: 14px;
	position: relative;
	z-index: 2;
	cursor: pointer;
}



/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
	position: relative;
	z-index: 2;
	cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
	position: absolute;
	bottom: 150%;
	margin-bottom: 5px;
	margin-left: -10px;
	padding: 7px;
	width: 160px;
	-webkit-border-radius: 3px;
	-moz-border-radius:    3px;
	border-radius:         3px;
	background-color: #f9be1c;
	color: #333;
	content: attr(data-tooltip);
	font-size: 14px;
	line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
	position: absolute;
	bottom: 150%;
	left: 50%;
	margin-left: -5px;
	width: 0;
	border-top: 5px solid #000;
	border-top: 5px solid hsla(0, 0%, 20%, 0.9);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: " ";
	font-size: 0;
	line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}


